li{
    font-size: 12px;
}

.mySection {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#listContent {
    width: 75%;
}

.card {
    margin: 10px 50px;
}

h1{
    text-align: center;
}